@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-align: center;
    background-color: #222E3C;
    padding: 20px 20px;
}

.header img {
    width: 100px;
}

/* Product page main */

.product-page-main {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-product-page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 80%;
}

/* Product Image side */

.product-img {
    width: 100%;
    max-width: 48%;
}

.product-img .img {
    width: 100%;
}

.product-img .img img {
    width: 100%;
}

/* Product Description */

.product-description {
    width: 100%;
    max-width: 48%;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

/* Product image list */

.product-img-list .product img {
    height: 100px;
    width: 100px;
    margin: 10px 20px;
}

/* Button */

a {
    text-decoration: none;
}

.btn {
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

.time {
    background-color: #818081;
    color: white;
    margin-right: 20px;
}

.rate {
    background-color: #DDDCDD;
    color: black;
}

.buy {
    background-color: #046472;
    margin-top: 20px;
    color: white;
}